@{
    ViewData["Title"] = "Home Page"; 
} 

<form class="maps-form" method="post">
    <div>
        <h4>Joakim Nilsson : Kodtest - Hatstore</h4>
        <hr />
        <input name="search" type="text" class="form-control" autocomplete="on" placeholder="Search in google maps" />
        <input id="submit" type="submit" value="Search" class="btn btn-info" />
    </div>
    <hr />
</form>

@model IEnumerable<Dotnet_Core_Google_Maps.DTO.MapSmallData.address_component>
<table> 
    <tbody>
        @if (Model != null) {
            @foreach (var item in Model) {
        <tr>
            <td class="table-content"><b>@item.types[0]</b></td>
            <td>@item.long_name</td>
        </tr>
            }
        }
    </tbody>
</table>

<style>
    .table-content {
        text-transform: capitalize;
    }
    .form-control {
        max-width: 300px;
        margin-bottom: 12px;
    }

    .maps-form {
        width: 500px;
    }
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        min-height: 500px;
        min-width: 500px;
        border: 1px solid #808080;
    }
</style>
<div id="map"></div>
<script>

        // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    function initMap() {
        //var default = { lat: 59.37925190000001, lng: 13.4992797 };

        var location = { lat: @ViewData["Lat"], lng: @ViewData["Long"] };

        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 13,
                center: location
            });
        new google.maps.Marker({ position: location, map: map });
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2MLtUGDAHWzIBtJ5Ra2aZ1_rN0bbG6KA&callback=initMap">
</script>
